.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  width: 500px;
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid #cfcccc;
  }
}

.user-info {
  display: flex;
  align-items: center;

  &__image {
    width: 40px;
    margin-right: .5rem;
  }
}