<div class="container">
  <mat-card class="card">
    <div class="user" *ngFor="let user of users">
      <div class="user-info">
        <img class="user-info__image" src="https://cdn.emojidex.com/emoji/seal/fishing_pole_and_fish.png?1417132027">
        {{user.username}}
      </div>
      <button mat-button (click)="poke(user)">Poke</button>
    </div>
  </mat-card>
</div>