<div class="header">Feed</div>
<div *ngIf="!pokes.length" class="empty">No pokes yet</div>
<div *ngFor="let poke of pokes" class="poke">
  <div>{{poke | poke}}</div>
  <div class="poke__time">{{poke.dateTime | date:'short'}}</div>
</div>