:host {
  display: block;
}

.header {
  padding: .5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.empty {
  font-size: .8rem;
  text-align: center;
}

.poke {
  font-size: .9rem;
  padding: .5rem;

  &__time {
    font-size: .8em;
    color: #b9b9b9;
  }

  &:not(:last-child) {
    border-bottom: 1px solid darken(#712c2c, 10);
  }
}