<div class="header">
  <div class="header__title">FullStack</div>
  <button mat-button (click)="signOut()">Sign out</button>
</div>

<div class="container">
  <div class="main">
    <app-user-list [users]="users$ | async" (poked)="onPoked($event)"></app-user-list>
  </div>

  <div class="feed">
    <app-feed [pokes]="pokes$ | async"></app-feed>
  </div>
</div>