$color: #712c2c;

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  padding: .5rem 1rem;
  background-color: $color;
  border-bottom: 1px solid darken($color, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  &__title {
    font-size: 1.1em;
  }
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  background-color: lighten($color, 65);
  flex: 1;
}

.feed {
  background-color: lighten($color, 5);
  border-left: 1px solid darken($color, 10);
  color: white;
  width: 280px;
  overflow: auto;
}