.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.content {
  padding: .5rem;
  width: 500px;
}

.header {
  text-align: center;
}

.form {
  display: flex;
  flex-flow: column;

  &__footer {
    text-align: end;
    margin-bottom: 0;
  }
}