<div class="container">
  <div class="content">
    <h1 class="header">FullStack</h1>
    <mat-card>
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Password" type="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="form.invalid">Register</button>
        <p class="form__footer">
          Already have an account?
          <button mat-button type="button" routerLink="/sign-in">Sign in here</button>
        </p>
      </form>
    </mat-card>
  </div>
</div>